version: '3.8'

services:
  backend:
    build: .
    ports:
      - "8000:8000"
    environment:
      - PORT=8000
      - ENVIRONMENT=development
      - USER_NAME=Visitor
      - DEBUG=True
    volumes:
      - .:/app
    command: >
      sh -c "python app.py"